<head>
    
    <!-- * Site Meta -->
    <meta charset="UTF-8">
    <%= favicon_link_tag "icon.ico" %>
    
    <title>[The Mod Machine]</title>
    <meta name="title" content="[The Mod Machine]">
    <meta name="description" content="[The official OneShot mod hub.]">
    <meta name="author" content="Astrabit & Eternabyte">
    <meta name="keywords" content="OneShot, OneShotGame, One Shot Game, OneShot Modding, OneShot Mods, OneShot Game Modding, OneShot Game Mods, FuturecatLLC, OneShot Aftermath, OneShot Fading Memory, OSFM, OSAM, OneShot Equinox, OSE, OSEN, OneShot Online, Cloverlink, OneShot Mod Database, The Mod Machine, TMM, The World Machine, OneShot 2, OneShot sequel, OneShot Discord, OneShot Gamejolt, OneShot Itch.io, OneShot Itchio, OneShot Mod Loader, OS Mod Loader">
    
    <!-- * Styles and Pre-loaded Scripts -->
    <%= stylesheet_link_tag "logo.css" %>
    <%= stylesheet_link_tag "style.css" %>
    
</head>