<center>
    <div class="header">
        <div class="overlay"></div>
        <div class="bg"></div>
        <div class=logo_parent>
            <%= image_tag "logo/logo_back.png", class:"logo_back", id:"logo" %>
            <%= image_tag "logo/logo_front.png", class:"logo_front", id:"logo" %>
        </div>
        <center>
            <div class="buttons">
                <a href="placeholder.txt">NEWS</a>
                <a href="placeholder.txt">MOD LISTING</a>
                <a href="placeholder.txt">MODDING GUIDE</a>
                <a href="placeholder.txt">ABOUT</a>
            </div>
        </center>
        <div class="socials">
            <a href="https://discord.gg/YRd8xMmde3"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/discord.svg" width="28px" id="soc"></a>
        </div>
    </div>
</center>